.main_container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #EAFFFB !important;
}
.main_container input{
    border: none !important;
    border-radius: 0;
    background-color: #EAFFFB !important;
    border-bottom: 0.8px solid rgba(28, 116, 104, 0.15) !important;
}
.main_container button{
    width: 165px;
height: 56px;
background: #1C7468 !important;
border-radius: 50px !important;

}
.main_container h3{
    font-family: 'Poppins';
font-weight: 700;
font-size: 22px;
color: #000000;
}
.main_container p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 28px;
color: #333333;


}
.icon{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}
.main_div{
    width: 50% !important;
}

@media (max-width:768px){
.container div{
    width: 100% !important;
}
.main_div{
    width: 100% !important;
}

}